
{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {# Agrega aquí tus estilos adicionales específicos de la vista dashboard.html.twig #}
    <link rel="stylesheet" href="{{ asset('bundles/adminlte/adminlte.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {# Agrega aquí tus scripts adicionales específicos de la vista dashboard.html.twig #}
    <script src="{{ asset('bundles/adminlte/adminlte.js') }}"></script>
{% endblock %}

{% block title %}Error de Acceso{% endblock %}
{% block page_title %}
	Error de acceso
{% endblock %}
{% block page_subtitle %}{% endblock %}

{% block page_content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-danger" role="alert">
                    <h2 class="alert-heading">¡Acceso denegado!</h2>
                    <p>No tienes los permisos suficientes para acceder a este apartado.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
