<!DOCTYPE html>
<html>
<head>
    <title>Error de acceso</title>
</head>
<body>
    <h1>Error de acceso</h1>
    <p>No tienes los permisos necesarios para acceder a esta página.</p>
    <!-- Agrega más contenido o estilos según tus necesidades -->
</body>
</html>
